@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.Name) details</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(mode => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.HairColor)
  @Html.EditorFor(model => model.HairColor)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" class="btn btn-success" />
}

<p>@Html.ActionLink("Back to Client List", "Index")</p>